h1 {
    color: rgb(159, 126, 105);
    text-align: center;
    padding: 400px 40px 0px 0px;
    text-decoration: none;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .fade-in-text {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

/** image below**/

.container {
    display: flex;
    justify-content: center; 
    height: 100vh; 
  }
  .container img {
    max-width: 100%; 
    height: auto;
  }
  .ease-in-image {
    opacity: 0;
    animation: fade-in 6s ease forwards;
  }
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
/** cursor**/
body, a, a img {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFEEE2" stroke="%23C5A597" stroke-width="2" stroke-linejoin="round" d="M12 8S9.75 5 7 5a4.5 4.5 0 0 0-4.5 4.5C2.5 14.5 12 20 12 20s9.5-5.5 9.5-10.5A4.5 4.5 0 0 0 17 5c-2.75 0-5 3-5 3Z"></path></svg>'), auto;
}
